<a href="https://colab.research.google.com/github/engineered-in/Python-For-Engineers/blob/main/Variables_and_Data_Types_in_Python_%F0%9F%94%A7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [Variables and Data Types in Python ðŸ”§](https://www.linkedin.com/pulse/3-variables-data-types-python-swarup-selvaraj)

ðŸ‘‹ Welcome to the learning notebook for the Third Edition of [Python for Engineers](https://www.linkedin.com/newsletters/python-for-engineers-7042602186047983616/) linkedin newsletter.

ðŸ¬ You'll be pleased with your choice of learning Python ðŸ¬

---

Here are two basic exercises that will help you with


> ðŸ“Š Different types of data ( Basic and Complex )


> ðŸ’¾ Storing the data into variables

## ðŸ“Š Different types of data ( Basic and Complex )

In general data can be broadly classified as

1. Basic Data Types
  
  1.1. Numerical Data Types

      1.1.1. Integer : 26

      1.1.2. Floating point number : 26.0

  1.2. String : "26"

  1.3. Boolean : True

2. Complex Data Types

  2.1. Lists : [26, 27.0]

  2.2. Dictionary : {26: "Twenty Six", 27: "Twenty Seven"}

In [ ]:
# 1.1.1. Integer                  26

print(26)
print(type(26))

In [ ]:
# 1.1.2. Floating point number    26.0

print(26.0)
print(type(26.0))

In [ ]:
# 1.2. String                     "26"
# You can enclose string within pair of single quotes '' or double quotes ""

print("26")
print(type("26"))

In [ ]:
# 1.3. Boolean                    True
# A boolean can hold either True or False value.  Case Sensitive.

print(True)
print(type(True))

In [ ]:
# 2.1. Lists                       [26, 27.0]
# A list can store a collection of elements
# Individual element can be accessed using its index (starts from 0)

print([26, 27.0])
print(type([26, 27.0]))
print([26, 27.0][0])

In [ ]:
# 2.2. Dictionary                  {26: "Twenty Six", 27: "Twenty Seven"}
# A dictionary maps a collection of elements/values to a custom index/key
# A dictionary stores data in {key: value} pairs
# Individual element/value can be accessed using its key

print({26: "Twenty Six", 27: "Twenty Seven"})
print(type({26: "Twenty Six", 27: "Twenty Seven"}))
print({26: "Twenty Six", 27: "Twenty Seven"}[26])

## ðŸ’¾ Storing the data into variables

In python, storing data into variables just require an assignment.

In [ ]:
a = 26                                         # 1.1.1. Integer
print(type(a))
print(a)

In [ ]:
a = 26.0                                       # 1.1.2. Floating point number
print(type(a))
print(a)

In [ ]:
a = "26"                                       # 1.2    String
print(type(a))
print(a)

In [ ]:
a = True                                       # 1.3    Boolean
print(type(a))
print(a)

In [ ]:
a = [26, 27.0]                                 # 2.1    List
print(type(a))
print(a)
print(a[1])

In [ ]:
a = {26: "Twenty Six", 27: "Twenty Seven"}    # 2.2    Dictionary
print(type(a))
print(a)
print(a[27])

## References

> [Experimenting Python notebooks on Colaboratory âš—ï¸](https://colab.research.google.com/drive/1_SYq7cWd8t4YStbwtIAoBztD94PMmp1W?usp=sharing)

> [Built-in Data Types](https://docs.python.org/3/library/stdtypes.html)